.social {
    margin-top: 35px;
    margin-bottom: 35px;
}

.social-button-twitter {
    background-color: #1da1f2;
    border-color: transparent;
    color: #ffffff !important;
}

.social-button-github {
    background-color: #24292e !important;
    border-color: transparent;
    color: #ffffff !important;
}

.social-button-linkedin {
    background-color: #0077b5 !important;
    border-color: transparent;
    color: #ffffff !important;
}